.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  justify-content: space-between;
}
.empty-container {
  width: 650px;
  height: 578px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.ul-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
  list-style-type: none;
}
.item {
  height: 190px;
  width: 190px;
  border-style: solid;
  border-radius: 10px;
  border-width: 0px;
  margin: 7px;
}
@media screen and (max-width: 425px) {
  .item {
    height: 75px;
    width: 75px;
  }
}
